.side-bar{
    height: 650px;
    width: 300px ;
    background-color: #37474F;
    
}

.side-bar-head{
    height: 45%;
    width: 100%;
    background-color: #666666;
    border: 1px solid #cccccc;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}